@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.hero-bg {
  background: linear-gradient(180deg, #F4EFE8 0%, #FAF8F5 100%);
             
  background-size: cover;
  background-repeat: no-repeat;
   background-position:
    center 
}


 

   
.gradient-bg{
  background: var(--Beige-BG, linear-gradient(180deg, #F4EFE8 0%, #FAF8F5 100%));
}
.gradient-bg-2{
  background: var(--Beige-BG, linear-gradient(180deg,  #FAF8F5 0%, #F4EFE8 100%));
}
    
@media(max-width:1024px){
  .hero-bg {
  background-size: contain;
  background-position:
    center top,     
    center 550px; 
    
}
}
@media(max-width:400px){

.descripton-text{
  top: 26%;
}
}